<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>介紹</title>
  <style type="text/css">
    * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
    h2 {color:White; font-size:60px;}
    h1 {color:White; font-size:40px;}
  </style>

</head>
<body bgcolor="#cccccc" background="static/c.jpg"style=" background-repeat:no-repeat ;
  background-size:100% 100%;
  background-attachment: fixed;"
  text="#68228B" onload="setInterval('clock()',1000)">
  <h2 align="center">張家榛的求職自傳履歷<h2>

 
  <CENTER> <img border="0" src="static/u.jpg"></CENTER> 
  <h1><h1>
      
      <p align=center>為何選擇這個工作?</p>
      <p align=center>在學的期間，有學到相關的課程，我對這一塊比較感興趣，也比較想去接觸。</p>

  
</body>
</html>