<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>介紹</title>
  <style type="text/css">
    * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
    h1 {color:White; font-size:40px;}
    h2 {color:White; font-size:60px;}
  </style>

</head>
<body bgcolor="#cccccc" background="static/c.jpg"style=" background-repeat:no-repeat ;
  background-size:100% 100%;
  background-attachment: fixed;"
  text="#68228B" onload="setInterval('clock()',1000)">
  <h2 align="center">自我介紹<h2>
    
  

  <h1><h1>
      
      <p align=center>學校 : 靜宜大學....</p> 
      <p align=center>學號 : 411003887...</p>   
      <p align=center>科系 : 資訊管理學系</p>   
      <p align=center>姓名 : 張家榛(ZHANG,JIA-ZHEN)</p>
      <p align=center>E-Mail : s1100388@gm.pu.edu.tw</p>
  
</body>
</html>
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>介紹</title>
  <style type="text/css">
    * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
    h1 {color:White; font-size:40px;}
    h2 {color:White; font-size:60px;}
  </style>

</head>
<body bgcolor="#cccccc" background="static/c.jpg"style=" background-repeat:no-repeat ;
  background-size:100% 100%;
  background-attachment: fixed;"
  text="#68228B" onload="setInterval('clock()',1000)">
  <h2 align="center">興趣何倫碼測驗結果<h2>
    
  
      
      <<CENTER> <img border="0" src="static/picture.jpg"></CENTER> 
  
</body>
</html>
